// colors
$black: #000;
$blackHover: #000;

$white: #fff;
$whiteHover: #fff;

$dark: #333;
$darkHover: #111;

$darkSoft: #444;
$darkSoftHover: #222;

$grey: #757575;
$greyHover: #4f4f4f;

$greySoft: #9E9E9E;
$greySoftHover: #757575;

$blue: #0066CC;
$blueHover: #007ecc;

$blueThin: #F2F7FC;
$blueThinHover: #b2d4ee;

$yellow: #FFED00;
$yellowHover: #ffc400;

// typography
$baseTextColor: $dark;
$greyTextColor: #9E9E9E;
$blueTextColor: $blue;
